.resultBoxModal {
     width: 100%;
     border: 1px solid black;
     margin: 10px 0;
}
.resultBoxModal > img {
     width: 100%;
     object-fit: contain;
}

.resultBoxModal > div {
     padding: 15px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
